/* Styling for the movie details page */
  .movies-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .Movie-title {
    font-size: 50px;
    margin-bottom: 10px;
  }
  
  .movie-image {
    margin-bottom: 20px;
  }
  
  .description {
    background-color: rgb(155, 155, 155);
    padding: 10px;
    border-radius: 5px;
    max-width: 500px; 
    margin: 0 auto; 
  }
  
  .movie-description {
    font-size: 12px;
    text-align: left;
    margin-bottom: 10px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  body {
    background: linear-gradient(to bottom, #a4a4a4, #515050);
    margin: 0; 
    padding: 0; 
  }